*{
    margin: 0;
}
:root{
    --cor-branca: aliceblue;
    --fonte-05: 0.5em;
    --fonte-08: 0.8em;
}
header{
    background-color: #020201;
    background-image: url(RdY3m9oVD2gNUd6GNTwkLm.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border: 2px black solid;
    margin: 0;
    flex-direction: column;
    padding: 0.1em;
    height: 15vh;
}
.cor1{
    color: var(--cor-branca);
}
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.gap05{
    gap: 0.5em;
}
.fonte05{
    font-size: var(--fonte-05);
}
.fonte08{
    font-size: var(--fonte-08);
}
.horarios{
    display: block;
}